*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}
p{
  word-break: break-all;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.container{
  margin: 20px auto;
    padding: 10px;
    
    border-radius: 10px;
    height: 400px;
    width: 500px;

    
    background: darksalmon;
}
.input-field{
  padding: 5px;
    width: 100vh;
    margin-right: 5px;
    border-radius: 10px;
}
#input-area{
  margin: 15px;
}